body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

.logo{
width:450px;
margin-top:20px;
}

.logo-note{
font-size:10px;
color:#aaa;
margin-top:-10px;
}

.song-grid{
display:grid;
grid-template-columns:repeat(8,1fr);
gap:25px;
padding:30px;
}

.song img{
width:160px;
cursor:pointer;
border-radius:8px;
transition:transform .2s;
}

.song img:hover{
transform:scale(1.08);
}

.dropdown{
display:none;
background:#222;
padding:10px;
margin-top:6px;
border-radius:6px;
font-size:14px;
}

.dropdown a{
color:#1DB954;
text-decoration:none;
font-weight:bold;
}

.footer-note{
font-size:12px;
color:#aaa;
margin-top:40px;
padding-bottom:20px;
}
